body   {
  margin: 0;
  padding: 0;
}

body * {
  font-family: Arial,
  Helvetica, sans-serif;
}

@media (min-width: 768px) {
  #wd-kambaz .wd-main-content-offset {
    padding-left: 140px !important;
  }
}

.list-group.wd > .list-group-item.active {
  color: black;
  background-color: white;
  border-left: 3px solid black !important;
}

.d-flex {
  display: flex;
}

.wd-kambaz-navigation {
  flex: 0 0 auto; /* Fixed width for Kambaz navigation */
  width: 200px; /* Adjust as needed */
  margin-right: 0; /* Remove extra white space */
}

.wd-main-content-offset {
  flex: 1; /* Take remaining space */
  display: flex;
}

.wd-course-navigation {
  flex: 0 0 auto; /* Fixed width for Course navigation */
  width: 250px; /* Adjust as needed */
  margin-left: 0; /* Remove extra white space */
}

.wd-course-content {
  flex: 1; /* Take remaining space for the main content */
}

.btn-secondary {
  --bs-btn-color: #000 !important;
  --bs-btn-bg: #c7cdd1 !important;
  --bs-btn-border-color: #c7cdd1 !important;
  --bs-btn-hover-color: #fff !important;
}
.bg-secondary {
  --bs-secondary-rgb: 199, 205, 209;
}
.list-group-item {
  --bs-list-group-border-color: gray;
}
.wd-lesson {
  border-left: 3px solid green !important;
}

.wd-assignment {
  border-left: 3px solid green !important;
}

